<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>register_proj</display-name>
  <welcome-file-list>
      <welcome-file>login.jsp</welcome-file>
  <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>reg_servlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg_servlet</servlet-name>
    <servlet-class>com.Esmd.reg_App.reg_Servlet</servlet-class>
    <init-param>
      <param-name>dr1</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url1</param-name>
      <param-value>jdbc:mysql://localhost:3306?user=root&amp;password=admin</param-value>
    </init-param>
    <init-param>
      <param-name>dr2</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url2</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>scott</param-value>
    </init-param>
    <init-param>
      <param-name>pass1</param-name>
      <param-value>tiger</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServ</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServ</servlet-name>
    <servlet-class>com.Esmd.reg_App.loginServlet</servlet-class>
  </servlet>
</web-app>